.message {
    background-color: lightgrey;
    font-size: 20px;
    padding: 10px;
    border: solid;
    margin-bottom: 10px;
}

.removed {
    color: red;
}

.shorter {
    color: red;
}

.success {
    color: green;
}

